* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    background-color: #E5FAFA;
    margin-bottom: 20%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper {
    position: absolute;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    top: 5%;

    width: 75%;
    height: 55%;
    background-color: #FFFFFF;
}

.header {
    margin-top: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.total, .tip {
    margin-top: 10vh;
    padding-left: 5vw;
    font-size: 36px;
}
.tip {
    margin-top: 5vh;
}

#costInput, #tipInput {
    float: right;
    margin-right: 5vw;
    font-size: 32px;
    width: 150px;
    text-align: right;
    background-color: #ECECEC;
}

.buttons {
    margin-top: 5vh;
    margin-left: 5vw;
}

#submitBtn, #resetBtn, #evenBtn {
    border-radius: 10px;
    background-color: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 55px;

    font-size: 36px;
    color: black;
}
#evenBtn {
    width: 200px;
}

#submitBtn:hover, #resetBtn:hover, #evenBtn:hover {
    background-color: #E5FAFA;
    cursor: pointer;
}

#submitBtn:active, #resetBtn:active, #evenBtn:active {
    transform: translateY(5px);
    box-shadow: 1px 1px black;
}

.wrapper2 {
    display: none;
    position: absolute;
    top: 70%;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    width: 75%;
    height: 55%;
    background-color: #FFFFFF;
}

.results {
    margin-top: 5vh;
    margin-left: 5vw;
    font-size: 36px;
}

.resultsHeader {
    font-size: 42px;
    font-weight: bold;
}

hr {
    height: 2px;
    background-color: black;
    margin-right: 5vw;
    border-style: none;
}

#subTotal, #tipNumber, #newTotal {
    float: right;
    margin-right: 5vw;
    text-align: right;
    color: #444444;
}

.even {
    margin-top: 5vh;
    margin-left: 5vw;
}

@media only screen
and (max-width : 768px) {
    html {
        height: 1000px;
    }
    .wrapper {
        width: 90%;
        height: 55%;
    }
    .header {
        margin-top: 3vh;
        font-size: 36px;
    }
    .total {
        margin-top: 6vh;
    }
    .total, .tip {
        font-size: 30px;
    }
    #costInput, #tipInput {
        font-size: 28px;
        margin-right: 5vw;
        height: 35px;
        width: 100px;
    }
    .buttons {
        margin-top: 6vh;
    }
    #submitBtn, #resetBtn, #evenBtn {
        width: 125px;
        font-size: 30px;
    }
    #resetBtn {
        float: right;
        margin-right: 5vw;
    }
    .wrapper2 {
        top: 67%;
        width: 90%;
        height: 65%;
    }
    .results {
        margin-top: 5vh;
        font-size: 30px;
    }
    .resultsHeader {
        font-size: 32px;
    }
    #tipAmount {
        letter-spacing: 1px;
    }
    .even {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4.5vh;
    }
    #evenBtn {
        width: 225px;
        margin-right: 5vw;
    }
}