html {
    width: 100%;
    height: 100%;
    background-color: #E5FAFA;

    padding-bottom: 500px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    position: absolute;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    top: 425px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 60%;
    background-color: #FFFFFF;
}

.header {
    margin-top: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.total, .tip {
    margin-top: 10vh;
    padding-left: 5vw;
    font-size: 36px;
}

.tip {
    margin-top: 5vh;
}

#costInput, #tipInput {
    margin-left: 4vw;
    font-size: 32px;
    width: 150px;
    text-align: right;
    background-color: #ECECEC;
}

#tipInput {
    margin-left: 5.1vw;
}

.buttons {
    margin-top: 7.5vh;
    padding-left: 5vw;
}

#submitBtn, #resetBtn, #evenBtn {
    border-radius: 10px;
    background-color: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 55px;

    font-size: 36px;
    color: black;
}

#evenBtn {
    width: 200px;
}

#submitBtn:hover, #resetBtn:hover, #evenBtn:hover {
    background-color: #E5FAFA;
    cursor: pointer;
}

#submitBtn:active, #resetBtn:active, #evenBtn:active {
    transform: translateY(5px);
    box-shadow: 1px 1px black;
}

.wrapper2 {
    display: none;
    position: absolute;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    top: 1100px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 60%;
    background-color: #FFFFFF;
}

.results {
    margin-top: 5vh;
    padding-left: 5vw;
    font-size: 36px;
}

.resultsHeader {
    font-size: 42px;
    font-weight: bold;
}

hr {
    height: 2px;
    background-color: black;
    margin-right: 5vw;
    border-style: none;
}

#subTotal, #tipNumber, #newTotal {
    float: right;
    margin-right: 5vw;
    text-align: right;
    color: #444444;
}

#tipAmount {
    margin-right: 2.5vw;
}

.even {
    margin-top: 5vh;
    padding-left: 5vw;
}

@media only screen
and (max-width : 768px) {
    html {
        padding-bottom: 300px;
    }
    .wrapper {
        top: 250px;
        width: 385px;
        height: 400px;
    }
    .header {
        margin-top: 3vh;
        font-size: 36px;
    }
    .total {
        margin-top: 6vh;
    }
    .total, .tip {
        font-size: 30px;
    }
    #costInput, #tipInput {
        float: right;
        font-size: 30px;
        margin-right: 5vw;
        height: 25px;
        width: 100px;
    }
    .buttons {
        margin-top: 6vh;
    }
    #submitBtn, #resetBtn, #evenBtn {
        margin-top: 5vh;
        font-size: 30px;
    }
    #resetBtn {
        float: right;
        margin-right: 5vw;
    }
    .wrapper2 {
        top: 735px;
        width: 385px;
        height: 500px;
    }
    .results {
        margin-top: 5vh;
        padding-left: 5vw;
        font-size: 30px;
    }
    .resultsHeader {
        font-size: 32px;
    }
    #tipAmount {
        letter-spacing: 1px;
    }
    #evenBtn {
        margin-top: 4vh;
        margin-left: 50px;
        width: 250px;
    }
}
