html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #011738, #5F7367);

    font-family: 'Bebas Neue', cursive;
}

.wrapper {
    overflow: auto;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 85%;
    background-color: #EBD4CB;
}

.header {
    margin-top: 5vh;
    text-align: center;
    font-size: 48px;
    letter-spacing: 20px;
}

.total {
    margin-top: 10vh;
    padding-left: 5vw;
    font-size: 36px;
    letter-spacing: 5px;
}

#totalCost {
    margin-left: 2vw;
    font-size: 32px;
    font-family: 'Bebas Neue', cursive;
}

.tip {
    margin-top: 5vh;
    padding-left: 5vw;
    font-size: 36px;
    letter-spacing: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #720026;
    margin-left: 2vw;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #4F6D7A;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    background: #4F6D7A;
    cursor: pointer;
}

.value {
    margin-left: 1vw;
}

.buttons {
    margin-top: 5vh;
    padding-left: 5vw;
    letter-spacing: 10px;
}

#submitBtn, #resetBtn, #evenBtn {
    border-radius: 10px;
    box-shadow: 3px 3px #720026;
    width: 100px;

    font-size: 24px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

#submitBtn:hover, #resetBtn:hover, #evenBtn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#submitBtn:active, #resetBtn:active, #evenBtn:active {
    transform: translateY(5px);
    box-shadow: 1px 1px #720026;
}

.results {
    display: none;
    margin-top: 5vh;
    padding-left: 5vw;
    font-size: 36px;
    letter-spacing: 5px;
}

hr {
    background-color: black;
    margin-right: 5vw;
}

#costTotal, #tipNumber, #newTotal {
    float: right;
    margin-right: 5vw;
    text-align: right;
}

#tipAmount {
    margin-right: 2.5vw;
}

.even {
    display: none;
    margin-top: 5vh;
    padding-left: 5vw;
}

@media only screen
and (max-width : 768px) {
    .wrapper {
        width: 95%;
        padding-bottom: 5vh;
    }
    .header {
        font-size: 36px;
    }
    .total {
        margin-top: 7.5vh;
    }
    .total, .tip, .results {
        font-size: 32px;
    }
    #totalCost {
        margin-left: 0vw;
        width: 70vw;
        font-size: 24px;
    }
    .slider {
        width: 75%;
        height: 25px;
        margin-left: 0vw;
    }
    .slider::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
    }
    .slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
    }
    .buttons {
        margin-top: 3vh;
    }
    #tipAmount {
        letter-spacing: 1px;
    }
    #evenBtn {
        width: 135px;
    }
}
